{{#> produto}}
  {{#*inline "content"}}
    <div class="pt-0 p-3 pb-0">
      <div class="row">
        <div class="col">
          <h2 class="m-3">Cadastrar um novo produto</h2>
        </div>
        
        <div class="col">
          <div class="d-flex justify-content-end align-items-center">
          <a href='lista'>
          <button data-mdb-ripple-init type="button" class="btn btn-primary text-white">Lista de produtos</button>
          </a> 
        </div>
        </div>
        
      </div>
      
      <form >
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="imagem">Imagem</label>
              <input type="file" id="imagem" class="form-control" />           
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="titulo" >Titulo</label>
              <input type="text" id="titulo" class="form-control" />              
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-8">
            <div data-mdb-input-init class="mb-3">
              <label for="descricao" class="form-label">Descricao</label>
              <textarea class="form-control" id="descricao" rows="3"></textarea>
            </div>  
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="preco" >Preço</label>
              <input type="text" id="preco" class="form-control" />              
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="desenvolvedor" >Desenvolvedor</label>
              <input type="text" id="desenvolvedor" class="form-control" />              
            </div>  
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="genero" >Gênero</label>
              <input type="text" id="genero" class="form-control" />              
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="lancamento" >Lancamento</label>
              <input type="date" id="lancamento" class="form-control" /> 
            </div>
          </div>
          <div class="col">
            <label class="form-label" for="plataforma" >Plataforma</label>
            <select data-mdb-input-init class="form-select" aria-label="Small select example">
              <option selected>Escolha uma plataforma</option>
              <option value="1">Pc</option>
              <option value="2">Xbox</option>
              <option value="3">PS</option>
            </select>
          </div>
        </div>
        
        
        <!-- Submit button -->
        <div class="container-fluid d-flex justify-content-end ">
          <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 text-white">Cadastrar</button>
        </div>
      </form>
      
    </div>
  {{/inline}}
{{/produto}}