 {{#> produto}}
  {{#*inline "content"}}
   <div class="container mt-5">
    <h2 class="mb-4">Produtos Cadastrados</h2>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Imagem</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Desenvolvedor</th>
        <th scope="col">Gênero</th>
        <th scope="col">Lançamento</th>
        <th scope="col">Plataforma</th>
        
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><img src="https://via.placeholder.com/100" alt="Imagem do jogo 1"></td>
            <td>League of Legends</td>
            <td>MOBA competitivo com personagens únicos.</td>
            <td>Gratuito</td>
            <td>Riot Games</td>
            <td>MOBA</td>
            <td>27/10/2009</td>
            <td>PC</td>
          </tr>
          <tr>
            <td><img src="https://via.placeholder.com/100" alt="Imagem do jogo 2"></td>
            <td>Fortnite</td>
            <td>Battle Royale com construção e ação intensa.</td>
            <td>Gratuito</td>
            <td>Epic Games</td>
            <td>Battle Royale</td>
            <td>21/07/2017</td>
            <td>PC, Console</td>
          </tr>
          <tr>
            <td><img src="https://via.placeholder.com/100" alt="Imagem do jogo 3"></td>
            <td>Minecraft</td>
            <td>Jogo de criação e exploração em mundo aberto.</td>
            <td>$29.99</td>
            <td>Mojang Studios</td>
            <td>Aventura</td>
            <td>18/11/2011</td>
            <td>PC, Console</td>
          </tr>
        </tbody>
    </table>
    <div class="container-fluid d-flex justify-content-end">
      <a href='create'>
        <button data-mdb-ripple-init type="button" class="btn btn-primary mb-4 text-white">Cadastrar novo produto</button>
      </a> 
    </div>
</div>
    
  {{/inline}}
{{/produto}}