{{#> main}}
  {{#*inline "content"}}
     <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">3453</h1>
                    </div>
                    <h5 class="mb-3">Clientes felizes</h5>
                    <span>Milhares de jogadores satisfeitos aproveitam nossas mídias digitais e conteúdos exclusivos. Junte-se a eles e mergulhe no mundo dos jogos!</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">4234</h1>
                    </div>
                    <h5 class="mb-3">Projetos Realizados</h5>
                    <span>Desde nossa fundação em novembro de 2024, concluímos milhares de projetos que elevaram a experiência de jogo dos nossos clientes.</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">3123</h1>
                    </div>
                    <h5 class="mb-3">Prêmios Recebidos</h5>
                    <span>Reconhecidos pela inovação e qualidade, acumulamos prêmios que comprovam nossa dedicação ao mundo dos jogos.</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">1831</h1>
                    </div>
                    <h5 class="mb-3">Especialistas no Setor</h5>
                    <span>Contamos com uma equipe experiente e apaixonada, pronta para levar a melhor experiência digital para cada jogador.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->
    

    <!-- About Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src='img/pc.jpg' style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h6 class="text-primary">Sobre nós</h6>
                        <h1 class="mb-4">Anos de experiência trazendo o melhor dos jogos para os gamers</h1>
                        <p>Com uma vasta experiência e uma equipe dedicada, a Pixel Storm foi fundada para oferecer o melhor em mídia digital de jogos. Desde novembro de 2000, estamos comprometidos em trazer conteúdos que inspirem e elevem a jornada dos gamers.</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i> Produtos e conteúdos de alta qualidade para todos os jogadores</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>Suporte especializado para qualquer dúvida ou necessidade</p>
                        <p><i class="fa fa-check-circle text-primary me-3"></i>Atualizações e novidades constantes no universo dos games</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Explore Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
  {{/inline}}
{{/main}}