{{#> main}}
  {{#*inline "content"}}
    <div class="container mt-5">
      <h1 class="text-success">Compra Realizada com Sucesso!</h1>
      <p class="lead">Obrigado por comprar conosco. Seu pedido foi processado.</p>
      <a href="/" class="btn btn-primary">Voltar para a Loja</a>
    </div>
  {{/inline}}
{{/main}}
