{{#> main}}
  {{#*inline "content"}}
    <h1>App</h1>
    <h2>Estrutura Exemplo</h2>
    <p>Bem-vindo ao seu aplicativo! Esta é uma estrutura inicial simples para sua Home.</p>
  {{/inline}}
{{/main}}