{{#> main}}
  {{#*inline "content"}}
  <div class="container mt-5">
    <div class="row d-flex container-fluid justify-content-center align-items-center">
      <div class="col-6 d-flex container-fluid justify-content-center ">
          <div class="text">
            <h1 class="text-success">Diversos jogos disponíveis!</h1>
            <p class="lead">Para viver as mais diferentes aventuras.</p>
          </div>   
      </div>
      <div class="col-6 d-flex container-fluid justify-content-center ">
        <div class="img">
            <img src="/img/mario_yoshi.png" alt="" style="max-height: 350px;">
          </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row d-flex container-fluid justify-content-center align-items-center">
      <div class="col-6 d-flex container-fluid justify-content-center ">
        <div class="img">
            <img src="/img/mario_luigi.png" alt="" style="max-height: 450px;">
          </div>
      </div>
      <div class="col-6 d-flex container-fluid justify-content-center ">
          <div class="text">
             <h1 class="text-success">Jogue sozinho ou com os amigos!</h1>
            <p class="lead">Jogos solos ou multiplayer.</p>
          </div>   
      </div>
      
    </div>
  </div>
 <div class="container mt-5">
    <div class="row d-flex container-fluid justify-content-center align-items-center">
      <div class="col-6 d-flex container-fluid justify-content-center ">
          <div class="text">
            <h1 class="text-success">Explore diferentes universos!</h1>
            <p class="lead">Lugares íncriveis para conhecer.</p>
          </div>   
      </div>
      <div class="col-6 d-flex container-fluid justify-content-center ">
        <div class="img">
            <img src="/img/captain-toad.png" alt="" style="max-height: 450px;">
          </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row d-flex container-fluid justify-content-center align-items-center">
      <div class="col-6 d-flex container-fluid justify-content-center ">
        <div class="img">
            <img src="/img/plataforma.png" alt="" style="max-height: 450px;">
          </div>
      </div>
      <div class="col-6 d-flex container-fluid justify-content-center ">
          <div class="text">
            <h1 class="text-success">Jogue na sua plataforma favorita!</h1>
            <p class="lead">Nitendo, Xbox, Pc e outras diversas plataformas.</p>
          </div>   
      </div>
    </div>
  </div>
  {{/inline}}
{{/main}}