{{#> auth}}
  {{#*inline "content"}}
    <div class="pt-0 p-5 pb-0" >
      <form>
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="username" class="form-control" />
          <label class="form-label" for="username" class="text-dark">Username</label>
        </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="password" class="text-dark">Password</label>
        </div>
        <!-- Submit button -->
        <div class="container-fluid d-flex flex-column justify-content-center">
          <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 text-white">Login</button>
        </div>
      </form>
      <p><a href='cadastro' class="link-underline-dark">Não tem conta? Cadastre-se!</a></p>
    </div>
  {{/inline}}
{{/auth}}
