{{#> auth}}
  {{#*inline "content"}}
    <div class="pt-0 p-5 pb-0">
      <form action="/auth/login" method="POST">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" name="email" class="form-control" required />
          <label class="form-label text-dark">Email</label>
        </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="senha" class="form-control" required />
          <label class="form-label text-dark">Senha</label>
        </div>
        <!-- Submit button -->
        <div class="container-fluid d-flex flex-column justify-content-center">
          <button type="submit" class="btn btn-primary btn-block mb-4 text-white">Login</button>
        </div>
      </form>
      <p><a href="cadastro" class="link-underline-dark">Não tem conta? Cadastre-se!</a></p>
    </div>
  {{/inline}}
{{/auth}}
